<main class="max-h-screen mt-10 flex items-center justify-center p-4">
  <div class="w-full max-w-3xl bg-white rounded-2xl shadow-sm p-6 sm:p-8 md:p-10">
    <!-- Header -->
    <div class="flex items-start gap-4 mb-8">
      <div class="shrink-0 w-12 h-12 bg-blue-50 rounded-full flex items-center justify-center">
        🔑
      </div>
      <div>
        <h1 class="text-xl sm:text-2xl font-bold text-slate-900">Change Password</h1>
        <p class="text-slate-500 text-sm sm:text-base mt-1">
          Keep your account secure by using a strong password.
        </p>
      </div>
    </div>
    <!-- Form -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()" class="space-y-6">
      <!-- Current Password -->
      <div class="space-y-2">
        <label class="block text-sm font-semibold text-slate-800"> Current password </label>
        <input
          formControlName="password"
          type="password"
          placeholder="Enter current password"
          class="w-full px-4 py-3 rounded-lg border border-slate-200 bg-slate-50 text-slate-900 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
        />
      </div>
      <!-- New Password -->
      <div class="space-y-2">
        <label class="block text-sm font-semibold text-slate-800"> New password </label>
        <input
          formControlName="newPassword"
          type="password"
          placeholder="Enter new password"
          class="w-full px-4 py-3 rounded-lg border border-slate-200 bg-slate-50 text-slate-900 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all"
        />
        <p class="text-xs sm:text-sm text-slate-400">
          At least 8 characters with uppercase, lowercase, number, and special character.
        </p>
      </div>

      <!-- Button -->
      <button
        type="submit"
        class="w-full py-3.5 bg-blue-400 hover:bg-blue-500 text-white font-medium rounded-lg transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer"
      >
        Update password
      </button>

      @if (errorMessege()) {
        <div
          class="flex justify-center p-4 mt-0.75 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
          role="alert"
        >
          <span class="sr-only">Danger</span>

          <div class="text-center">
            <p class="text-center text-2xl">
              {{ errorMessege() }}
            </p>
          </div>
        </div>
      }
    </form>
  </div>
</main>
